h1{
  color: blue;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
body {
  font-family: "Roboto";
  display: list-item;
}
table{
  position: relative;
  border: solid; 
  border-width: 5px;
  border-color: cadetblue;
  width: 100%;
}

td, th {
  font-size: 13px;
  margin-right: 100px;
  padding: 5px;
}

th {
  border: solid;
}

tr{
  background-color: lightcoral;
  border: solid;
  border-bottom: cadetblue;
}