<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="indexStyle.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <title>Database Final</title>
  </head>
  <body>
    <h1>Video Game Database</h1>
    <form method="POST" action="/submit">
      <input type="text" id="text_input" name="text_input" />
      <input type="submit" value="submit" />
    </form>
    <table>
      <tr>
        <th>GameId</th>
        <th>Title</th>
        <th>Director</th>
      </tr>
      {% for row in data %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
      </tr>
      {% endfor %}
    </table>
    <br />
  </body>
</html>
